.circle{
  background-color:red;
  width: 60px;
  height:60px;
  transition: 2s;


  position: absolute;
  top: 43%;
  left:48%;
}

.circle:hover{
  background-color:orange;
  width: 60px;
  height:60px;
  border-radius: 50%;
}

h1 {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    transition: 0.5s;
}

h1:hover{
  background:pink;
}
